<html>
    <head>
        <title>
            Formulario de petición de censo
        </title>
    </head>
    <body>
        <h1 style = "background-color: blue;color: aliceblue;text-align: center;"> Formulario de Peticion de Censo</h1>
        <div>
            {% if "valido" in request.GET %}
                    <p style="color: brown;"> Gracias por enviar su solicitud</p>
            {% endif %}
            <form action="" method="POST" style="text-align: center;"> {% csrf_token %}
                <table style="color:blue; margin: 20px auto;">{{miFormulario.as_table}}</table>
                <input type="submit" value="Enviar" style="width:150px">
            </form>
        </div>
    
    </body>
</html>