{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<style>
    body {
      background-color: #f5f5f5; 
      font-family: 'Arial', sans-serif;
    }

    .jumbotron {
      background: linear-gradient(to right, #3498db, #1abc9c); 
      color: #fff;
    }

    .section-header {
      background-color: #e74c3c;
      color: #fff;
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 5px;
    }

    .card {
      margin-top: 20px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    .card-img-top {
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    .card-body {
      background-color: #fff;
    }

    .language-dropdown-link{
        cursor: pointer;
        color:#1abc9c;
        border-radius: 100px;
        padding: 8px;
        display: inline-block;
    }
    .language-dropdown {
        background-color: #1abc9c;
        display: none; 
        color: white; 
        border-radius: 10px;
        margin-top: 5px; 
    } 
    .language-dropdown option {
        background-color:#1abc9c; 
        color: white; 
        border-radius: 10px;
        padding: 8px;
    }
  </style>
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">DECIDE </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/census/census">Censo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Votación</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Grupos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Votos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Preguntas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link language-dropdown-link" href="#" onclick="toggleLanguageDropdown()">Idiomas</a>
                <select class="language-dropdown" id="languageSelect">
                  <option value="en">English</option>
                  <option value="es">Español</option>
                  <option value="de">Deutsch</option>
                </select>
            </li>

            
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <div class="jumbotron text-center">
      <h1 class="display-4">Bienvenido, Administrador!</h1>
      <p class="lead">Gracias por usar nuestra aplicación.</p>
    </div>

    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title section-header">¿Qué hace nuestra aplicación?</h5>
            <p class="card-text">
                DECIDE es una aplicación integral que revoluciona la gestión de votos y ofrece procesos optimizados en secciones clave como censo, 
                votación, grupos, usuarios, votos y preguntas. Con una interfaz intuitiva, seguridad sólida e informes detallados, DECIDE permite a 
                las organizaciones mejorar la transparencia y la participación democrática.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-6">
        <h2 class="section-header">Censo</h2>
        <div class="card">
          <img src="https://png.pngtree.com/png-clipart/20220120/ourlarge/pngtree-census-png-image_4349359.png" alt="Census Image" class="card-img-top">
          <div class="card-body">
            <p>
                La sección del Censo facilita la gestión eficiente del registro de votantes. Los administradores pueden manejar listas de votantes, verificar 
                la elegibilidad y mantener una base de datos precisa para los procesos electorales.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-6 offset-md-3">
        <h2 class="section-header">Votación</h2>
        <div class="card">
          <img src="https://ejaso.com/media/bhcp5j3d/voto.png" alt="Voting Image" class="card-img-top">
          <div class="card-body">
            <p>
                La sección Votación simplifica la creación, gestión y seguimiento de los procesos de votación.
                Proporciona herramientas intuitivas para configurar elecciones, definir candidatos y garantizar un seguimiento transparente durante todo el proceso de votación.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-6">
        <h2 class="section-header">Grupos</h2>
        <div class="card">
          <img src="https://cursosmultimedia.es/wp-content/uploads/2021/03/grupos.png" alt="Groups Image" class="card-img-top">
          <div class="card-body">
            <p>
                La sección Grupos permite la creación y gestión de grupos de votantes, facilitando las elecciones internas y la asignación de permisos específicos.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-6 offset-md-3">
        <h2 class="section-header">Usuarios</h2>
        <div class="card">
          <img src="https://cdn-icons-png.flaticon.com/512/32/32441.png" alt="Users Image" class="card-img-top">
          <div class="card-body">
            <p>
                La sección Usuarios proporciona un panel completo para la gestión de usuarios. Desde la creación de cuentas hasta la asignación 
                de roles y permisos, DECIDE simplifica la administración de la participación de los usuarios en el sistema.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-6">
        <h2 class="section-header">Votos</h2>
        <div class="card">
          <img src="https://cdn-icons-png.flaticon.com/512/1582/1582013.png" alt="Votes Image" class="card-img-top">
          <div class="card-body">
            <p>
                La sección Votos ofrece un seguimiento detallado de los votos, asegurando la integridad del proceso de votación. DECIDE proporciona 
                un espacio dedicado para monitorear y analizar los resultados electorales, facilitando la toma de decisiones informada.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-6 offset-md-3">
        <h2 class="section-header">Preguntas</h2>
        <div class="card">
          <img src="https://previews.123rf.com/images/pixelery/pixelery1510/pixelery151000008/46151512-interrogaci%C3%B3n-azul-entre-otras-cuestiones-grises.jpg" alt="Questions Image" class="card-img-top">
          <div class="card-body">
            <p>
                La sección de Preguntas fomenta la interacción y participación del usuario. Los usuarios pueden enviar y votar preguntas, fomentando la transparencia y la comunicación abierta dentro de la comunidad.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extrabody %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function toggleLanguageDropdown() {
            var languageDropdown = document.getElementById('languageSelect');
    
            if (languageDropdown.style.display === 'none' || languageDropdown.style.display === '') {
                languageDropdown.style.display = 'block';
            } else {
                languageDropdown.style.display = 'none';
            }
        }
    
  
        var currentLanguage = getLanguagePage(); 
        document.getElementById('languageSelect').value = currentLanguage;
  
        document.getElementById('languageSelect').addEventListener('change', function () {
            var selectedLanguage = this.value;
            if (selectedLanguage === 'en') {
                window.location.href = '/';
            } else if (selectedLanguage === 'es') {
                window.location.href = '/esp';
            } else if(selectedLanguage === 'de'){
                window.location.href = '/alm'
            }
        
        });
  
        function getLanguagePage() {
          var url = window.location.href;
          if(url.includes('/esp')){
            return 'es';
          }else if( url.includes('/alm')){
            return 'de';
          }else{
            return 'en';
          }
        }
  
    </script>
    
{% endblock %}