<article>
    <h1>Censo</h1>

    <nav>
        <form>
            <label for="census_id">Filter by census</label>
            <select id="census_id" name="census_id">
                {% for census in census_list %}
                    <option value="{{ census.id }}">{{ census.name }}</li>
                {% endfor %}
            </select>
            <button>Buscar</button>
        </form>
    </nav>
    <table>
        <thead>
            <tr>
                <th>Nombre de usuario</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users_in_census %}
                <tr>
                    <td>{{ user.username }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</article>