{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Census Page</h1>

    <!-- Listado de Censos existentes -->
    <h2>Census:</h2>
    <ul>
        <li>Censo 1</li>
        <li>Censo 2</li>
        <li>Censo 3</li>
        <!-- Agrega más censos según sea necesario -->
    </ul>

    <!-- Formulario para crear un nuevo Censo -->
    <h2>Create New Census</h2>
    <form>
        <div class="form-group">
            <label for="nombreCenso">Voting id</label>
            <input type="text" class="form-control" id="votingId" placeholder="Input the voting id">
        </div>
        <div class="form-group">
            <label for="descripcionCenso">Voter id</label>
            <input type="text" class="form-control" id="voterId" placeholder="Input the voter id">
        </div>
        <button type="submit" class="btn btn-primary">New Census</button>
    </form>
</div>
{% endblock %}

{% block extrabody %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}